@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #1f2937;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
    color: whitesmoke;
    line-height: 1.6;
    padding: 50px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.993);
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0px 100px;
}

img {
    width: 65%;
}
/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: whitesmoke;
    
}

.navbar ul{
    display: flex;
}

.navbar a {
    color: whitesmoke;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px whitesmoke solid;
}
.navbar .flex{
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: whitesmoke;
    max-width: 1100;

}

p { margin-left: 100px;}

button { 
    margin-left: 100px;
}

/* Box */

.box-title {
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: 900;
    background-color: white;
}

.instruments {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-size: 10px;
    max-width: 1100px;
    align-items: center;
}

.instruments img {
    border: 3px solid rgb(0, 0, 99);
    border-radius: 8px;
    max-width: 300px;
}


/* Thor */

.thor {
    max-width: 1100;
    display: flex;
    flex-direction: column;
    padding: 100px 500px;
    max-width: 1100;
    height: 400px;
    background-color: rgb(247, 247, 247);
    color:black
}

.thor .text {
    font-size: 34px;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: 300;
    flex-wrap: wrap ;
    flex-shrink: 0;
    max-width: 800px;
    max-height: 300px;
}

.thor .author {
    font-size: 18px;
    margin-left: 600px;
    font-weight: 900;
    max-width: 1100;

}

/* Card */

.action  {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 450px;
    background-color: rgb(0, 153, 255);
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
   
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 450px;
    background-color: rgb(0, 153, 255);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button:hover{
    cursor: pointer;
    color:rgb(226, 198, 43);
    
}

.btn {
    border: none;
    border-radius: 8px;
    background: blueviolet;
    color: white;
    padding: 8px;
}

.footer {
    color: whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 100px;
}

